* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: rgb(255, 255, 255);
  background: url(https://wallpapermemory.com/uploads/717/geometry-background-hd-1920x1200-116795.jpg) no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  font-family: 'Monoton', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px 0;
}

img {
  width: 100px;
  margin: 5px;
}

main {
  margin: 30px;
  padding: 20px;
  background: rgb(40, 30, 30, 0.8);
  border-radius: 10px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 40px 0 20px 0;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0;
}

form {
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin: 15px 0;
}

ul {
  line-height: 1.75;
}

a {
  color: rgb(255, 255, 255);
}

a:hover {
  cursor: pointer;
  color: rgb(224, 224, 224);
}

button {
  margin-top: 10px;
  background-color: rgb(33, 136, 167);
  color: white;
  border: 2px outset rgb(35, 155, 192);
  border-radius: 5px;
  font-size: 14px;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

button:hover {
  cursor: pointer;
  background-color: rgb(25, 101, 124);
}

.button {
  margin: 15px;
  background-color: rgb(33, 136, 167);
  color: white;
  border: 2px outset rgb(35, 155, 192);
  border-radius: 5px;
  font-size: 14px;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.button:hover {
  cursor: pointer;
  background-color: rgb(25, 101, 124);
}

.hidden {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-message {
  text-align: center;
}

.align-center {
  text-align: center;
}

.back-to-results {
  margin-top: 15px;
}

#js-search-term {
  width: 283px;
  height: 25px;
  border: solid 1px rgb(40, 30, 30, 0.9);
  border-radius: 5px;
  padding: 5px;
}

#js-lyrics {
  line-height: 1.5;
}

#js-similar-artists {
  margin-top: 15px;
  line-height: 1.5;
}

@media screen and (max-width: 350px) {
  label {
    width: 236px;
  }

  #js-search-term {
    max-width: 240px;
  }
}

@media screen and (min-width: 550px) {
  main {
    margin: 80px;
  }
}

@media screen and (min-width: 1200px) {
  main {
    margin: 80px 300px;
  }

  img {
    width: 120px;
  }

  h1 {
    font-size: 50;
  }
}