* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: rgb(255, 255, 255);
  background: url(https://wallpapermemory.com/uploads/717/geometry-background-hd-1920x1200-116795.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  font-family: 'Monoton', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px 0;
}

img {
  width: 100px;
  margin: 5px;
}

main {
  margin: 0 15px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

h3 {
  font-weight: bold;
}

form {
  background: rgb(40, 30, 30, 0.9);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin: 15px 0;
}

ul {
  line-height: 1.5;
}

button {
  margin-top: 10px;
}

.button {
  margin: 15px;
}

.hidden {
  display: none;
}

#js-search-term {
  width: 283px;
}

#js-lyrics {
  line-height: 1.5;
}

#js-similar-artists {
  margin-top: 15px;
  line-height: 1.25;
}